@{
    ViewData["Title"]="regester";

}
@model RegesterModel
<h2>create an acount</h2>
<form asp-action="Regester" asp-controller="User"  method ="post" enctype="multipart/form-data" role="form">
    @Html.AntiForgeryToken()
    <div class="form-group">
    <label asp-for="User_name">User Name</label>
    <input asp-for="User_name" class="form-control"  type="text" placeholder ="enter Employee Full Name">
<span asp-validation-for="User_name"> </span>
</div>
</br>
  <div class="form-group">
    <label asp-for="User_email">user Email</label>
    <input asp-for="User_email"  class="form-control"  type="email" placeholder ="enter User Email">
    <span asp-validation-for="User_email"> </span>
  </div> 
</br>
     <div class="form-group">
    <label asp-for="Password" >Password</label>
    <input asp-for="Password" class="form-control"  type="Password" placeholder ="password">
    <span asp-validation-for="Password "> </span>
    </div>
</br>
    <div class="form-group">
    <label asp-for="confirm_Password" >confirm Password</label>
    <input asp-for="confirm_Password" class="form-control"  type="Password" placeholder ="confirm Password">
    <span asp-validation-for="confirm_Password "> </span>
    </div>
    </br>
     <button type="submit" class="btn btn-primary">save</button>
</form>
