body {
    font-family: Arial, sans-serif;
    background: #faf7f2;
}


.toolbar {
    background: #fff;
    border-bottom: 1px solid #e5e0d8;
}

.search-input {
    background: #f3bcbc;
    border-radius: 999px;
    border: none;
    padding: 10px 18px;
}

    .search-input:focus {
        outline: none;
        box-shadow: 0 0 0 4px rgba(90, 47, 194, 0.15);
        background: #fff;
    }

.hero {
    position: relative;
    height: 420px;
    background: url("/img/ignup.png") no-repeat center center;
    background-size: cover;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
}

.hero-content {
    position: relative;
    z-index: 2;
    padding-top: 110px;
}


.about-card-section {
    margin-top: -90px;
    position: relative;
    z-index: 3;
}

.about-card {
    border-radius: 18px;
    background: rgba(255,255,255,0.95);
}

.about-img {
    max-height: 260px;
    object-fit: cover;
}


.features {
    margin-top: 80px;
    padding: 60px 0;
}

.feature-box {
    background: #fff;
    padding: 25px;
    border-radius: 14px;
    height: 100%;
}

    .feature-box p {
        margin-top: 10px;
        color: #666;
        font-size: 14px;
    }


.team {
    padding: 70px 0;
}

.team-card {
    background: #fff;
    padding: 25px;
    border-radius: 16px;
}

.team-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}


.footer {
    background: #fff;
    border-top: 1px solid #ddd;
    padding: 20px;
    font-size: 14px;
}
